[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Basket Archives & Templates
Name[ar]=قوالب وأرشيفات السلة
Name[ca]=Arxius i plantilles de cistella
Name[ca@valencia]=Arxius i plantilles de cistella
Name[cs]=Archivy a šablony košíků
Name[en_GB]=Basket Archives & Templates
Name[eo]=Korbo Arkivoj & Ŝablonoj
Name[es]=Archivos y plantillas de Basket
Name[et]=Basketi arhiivid ja mallid
Name[eu]=Basket artxiboak eta txantiloiak
Name[fi]=Basket-arkistot ja -mallipohjat
Name[fr]=Archives et modèles de Basket
Name[gl]=Arquivos e modelos de canastros
Name[he]=ארכיונים ותבניות של Basket
Name[ia]=Archivos  & Patronos de Basket
Name[it]=Archivi e modelli Basket
Name[ka]=კალათის არქივები და შაბლონები
Name[ko]=Basket 압축 파일과 템플릿
Name[nl]=Basket archieven & sjablonen
Name[pl]=Archiwa i szablony koszyków
Name[pt]=Pacotes & Modelos do Basket
Name[pt_BR]=Arquivos e modelos de cesta
Name[ro]=Arhive și șabloane Basket
Name[sa]=टोकरी अभिलेखागार एवं टेम्पलेट्स
Name[sl]=Basket arhivi in predloge
Name[sv]=Basket arkiv och mallar
Name[tr]=Basket Arşivleri ve Şablonları
Name[uk]=Архіви і шаблони Basket
Name[zh_CN]=Basket 存档和模板
Name[zh_TW]=筆記封存及模本
ServiceTypes=ThumbCreator
MimeTypes=application/x-basket-archive,application/x-basket-template
CacheThumbnail=true
X-KDE-Library=basketthumbcreator
