[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Basket Archives & Templates
Name[ca]=Arxius i plantilles de cistella
Name[nl]=Basket archieven & sjablonen
Name[pt]=Pacotes & Modelos do Basket
Name[uk]=Архіви і шаблони Basket
Name[x-test]=xxBasket Archives & Templatesxx
ServiceTypes=ThumbCreator
MimeTypes=application/x-basket-archive,application/x-basket-template
CacheThumbnail=true
X-KDE-Library=basketthumbcreator
