[Desktop Entry]
X-SuSE-translate=true
Categories=Office;WordProcessor
Version=0.92
Encoding=UTF-8
Terminal=0
Icon=ooo-writer
Exec=oowriter %U
Type=Application
StartupNotify=true
MimeType=application/vnd.oasis.opendocument.text;application/vnd.oasis.opendocument.text-template;application/vnd.oasis.opendocument.text-master;application/vnd.sun.xml.writer;application/vnd.sun.xml.writer.template;application/vnd.sun.xml.writer.global;application/vnd.stardivision.writer;application/msword;application/vnd.ms-word;application/x-doc;text/rtf;application/rtf
InitialPreference=5
Name=OpenOffice.org Writer
GenericName=OpenOffice.org Text Document
GenericName[en]=OpenOffice.org Text Document
GenericName[ru]=OpenOffice.org Текстовый документ
GenericName[el]=OpenOffice.org Έγγραφο κειμένου
GenericName[nl]=OpenOffice.org Tekstdocument
GenericName[fr]=OpenOffice.org Texte
GenericName[es]=Documento de texto OpenOffice.org 
GenericName[ca]=OpenOffice.org Document de text
GenericName[it]=OpenOffice.org Documento di testo
GenericName[da]=OpenOffice.org Tekstdokument
GenericName[sv]=OpenOffice.org-textdokument
GenericName[pl]=OpenOffice.org Dokument tekstowy
GenericName[de]=OpenOffice.org Textdokument
GenericName[ja]=OpenOffice.org 文書ドキュメント
GenericName[ko]=OpenOffice.org 텍스트 문서
GenericName[zh_CN]=OpenOffice.org 文本文档
GenericName[zh_TW]=OpenOffice.org 文字文件
GenericName[tr]=PRODUCTNAME Metin belgesi
GenericName[ar]=OpenOffice.org مستند نص
GenericName[0en]=OpenOffice.org Text Document
GenericName[fi]=OpenOffice.org Textdokument
GenericName[cs]=Textový dokument OpenOffice.org
GenericName[he]=OpenOffice.org Textdokument
GenericName[0pt]=OpenOffice.org Textdokument
GenericName[pt_BR]=OpenOffice.org Textdokument
GenericName[th]=OpenOffice.org Textdokument
GenericName[hi_IN]=OpenOffice.org Textdokument
GenericName[sk]=Textový dokument OpenOffice.org
X-SuSE-translate=true

Name[bg]=OpenOffice.org текстообработка
GenericName[bg]=OpenOffice.org текстов документ
Name[cs]=OpenOffice.org Writer
Name[de]=OpenOffice.org Writer
Name[es]=OpenOffice.org Writer
Name[fi]=OpenOffice.org Writer
Name[fr]=OpenOffice.org Writer
Name[hu]=OpenOffice.org Writer
GenericName[hu]=OpenOffice.org szöveges dokumentum
Name[it]=Documento di testo OpenOffice.org 
Name[ja]=OpenOffice.orgライタ
Name[nb]=OpenOffice.org Writer
GenericName[nb]=OpenOffice.org tekstbehandling
Name[nl]=OpenOffice.org Writer
Name[pl]=OpenOffice.org Writer
Name[pt]=OpenOffice.org Writer
GenericName[pt]=Processador de Texto OpenOffice.org
Name[pt_BR]=Gravador do OpenOffice.org
Name[sr]=OpenOffice.org Писац
GenericName[sr]=OpenOffice.org текстуални документ
Name[zh_CN]=OpenOffice.org 编写器
Name[zh_TW]=OpenOffice.org Writer
