[Desktop Entry]
Encoding=UTF-8
Icon=document-new
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=pim/kcms/basket/basket_config_new_notes
X-KDE-FactoryName=basket_config_new_notes
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=basket
X-KDE-ParentComponents=basket,kontact_basketplugin
X-KDE-CfgDlgHierarchy=Basket
X-KDE-Weight=10

Name=New Notes
Name[ca]=Notes noves
Name[ca@valencia]=Notes noves
Name[cs]=Nové poznámky
Name[de]=Neue Notizen
Name[en_GB]=New Notes
Name[es]=Nuevas notas
Name[et]=Uued märkmed
Name[eu]=Ohar berriak
Name[fi]=Uudet muistiinpanot
Name[fr]=Nouvelles notes
Name[ia]=Nove notas
Name[it]=Nuove note
Name[ka]=ახალი სანიშნეები
Name[ko]=새 노트
Name[nl]=Nieuwe notities
Name[pl]=Nowe notatki
Name[pt]=Novas Notas
Name[pt_BR]=Novas notas
Name[ro]=Notițe noi
Name[sk]=Nové poznámky
Name[sl]=Novi zaznamki
Name[sv]=Nya anteckningar
Name[tr]=Yeni Notlar
Name[uk]=Нові нотатки
Name[x-test]=xxNew Notesxx
Name[zh_CN]=新便笺
Name[zh_TW]=新增筆記
Comment=New Notes
Comment[ca]=Notes noves
Comment[ca@valencia]=Notes noves
Comment[cs]=Nové poznámky
Comment[de]=Neue Notizen
Comment[en_GB]=New Notes
Comment[es]=Nuevas notas
Comment[et]=Uued märkmed
Comment[eu]=Ohar berriak
Comment[fi]=Uudet muistiinpanot
Comment[fr]=Nouvelles notes
Comment[ia]=Nove notas
Comment[it]=Nuove note
Comment[ka]=ახალი სანიშნეები
Comment[ko]=새 노트
Comment[nl]=Nieuwe notities
Comment[pl]=Nowe notatki
Comment[pt]=Novas Notas
Comment[pt_BR]=Novas notas
Comment[ro]=Notițe noi
Comment[sk]=Nové poznámky
Comment[sl]=Novi zaznamki
Comment[sv]=Nya anteckningar
Comment[tr]=Yeni Notlar
Comment[uk]=Нові нотатки
Comment[x-test]=xxNew Notesxx
Comment[zh_CN]=新便笺
Comment[zh_TW]=新增筆記
