[Desktop Entry]
Encoding=UTF-8
Icon=folder-sync
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=pim/kcms/basket/basket_config_version_sync
X-KDE-FactoryName=basket_config_version_sync
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=basket
X-KDE-ParentComponents=basket,kontact_basketplugin
X-KDE-CfgDlgHierarchy=Basket
X-KDE-Weight=40

Name=Version Sync
Name[ca]=Sincronitza la versió
Name[ca@valencia]=Sincronitza la versió
Name[cs]=Synchronizace verze
Name[en_GB]=Version Sync
Name[es]=Sincronización de la versión
Name[et]=Versioonide sünkroonimine
Name[eu]=Bertsio sinkronizatzea
Name[fi]=Versiosynkronointi
Name[fr]=Synchroniser les versions
Name[ia]=Sync de version
Name[it]=Sincr. versione
Name[ka]=ვერსიის სინქრონიზაცია
Name[ko]=버전 동기화
Name[nl]=Versiesynchronisatie
Name[pl]=Synchronizacja wersji
Name[pt]=Sincronização das Versões
Name[pt_BR]=Sincronização de versões
Name[ro]=Sincronizare versiune
Name[sl]=Sinhronizacija različic
Name[sv]=Versionssynkronisering
Name[tr]=Sürüm Eşzamanlaması
Name[uk]=Синхронізація версій
Name[x-test]=xxVersion Syncxx
Name[zh_CN]=版本同步
Name[zh_TW]=版本同步
Comment=Version Sync
Comment[ca]=Sincronitza la versió
Comment[ca@valencia]=Sincronitza la versió
Comment[cs]=Synchronizace verze
Comment[en_GB]=Version Sync
Comment[es]=Sincronización de la versión
Comment[et]=Versioonide sünkroonimine
Comment[eu]=Bertsio sinkronizatzea
Comment[fi]=Versiosynkronointi
Comment[fr]=Synchroniser les versions
Comment[ia]=Sync de version
Comment[it]=Sincr. versione
Comment[ka]=ვერსიის სინქრონიზაცია
Comment[ko]=버전 동기화
Comment[nl]=Versiesynchronisatie
Comment[pl]=Synchronizacja wersji
Comment[pt]=Sincronização das Versões
Comment[pt_BR]=Sincronização de versões
Comment[ro]=Sincronizare versiune
Comment[sl]=Sinhronizacija različic
Comment[sv]=Versionssynkronisering
Comment[tr]=Sürüm Eşzamanlaması
Comment[uk]=Синхронізація версій
Comment[x-test]=xxVersion Syncxx
Comment[zh_CN]=版本同步
Comment[zh_TW]=版本同步
