[Desktop Entry]
Encoding=UTF-8
Icon=configure
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=pim/kcms/basket/basket_config_general
X-KDE-FactoryName=basket_config_general
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=basket
X-KDE-ParentComponents=basket,kontact_basketplugin
X-KDE-CfgDlgHierarchy=Basket
X-KDE-Weight=10

Name=General
Name[ca]=General
Name[ca@valencia]=General
Name[cs]=Obecné
Name[da]=Generelt
Name[de]=Allgemein
Name[en_GB]=General
Name[es]=General
Name[et]=Üldine
Name[eu]=Orokorra
Name[fi]=Yleistä
Name[fr]=Général
Name[ia]=General
Name[it]=Generale
Name[ka]=მთავარი
Name[ko]=일반
Name[nl]=Algemeen
Name[pl]=Ogólne
Name[pt]=Geral
Name[pt_BR]=Geral
Name[ro]=Generale
Name[sl]=Splošno
Name[sv]=Allmänt
Name[tr]=Genel
Name[uk]=Загальне
Name[x-test]=xxGeneralxx
Name[zh_CN]=通用
Name[zh_TW]=一般
Comment=General
Comment[ca]=General
Comment[ca@valencia]=General
Comment[cs]=Obecné
Comment[da]=Generelt
Comment[de]=Allgemein
Comment[en_GB]=General
Comment[es]=General
Comment[et]=Üldine
Comment[eu]=Orokorra
Comment[fi]=Yleistä
Comment[fr]=Général
Comment[ia]=General
Comment[it]=Generale
Comment[ka]=მთავარი
Comment[ko]=일반
Comment[nl]=Algemeen
Comment[pl]=Ogólne
Comment[pt]=Geral
Comment[pt_BR]=Geral
Comment[ro]=Generale
Comment[sl]=Splošno
Comment[sv]=Allmänt
Comment[tr]=Genel
Comment[uk]=Загальне
Comment[x-test]=xxGeneralxx
Comment[zh_CN]=通用
Comment[zh_TW]=一般
