[Desktop Entry]
Encoding=UTF-8
Icon=org.kde.basket
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=pim/kcms/basket/basket_config_baskets
X-KDE-FactoryName=basket_config_baskets
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=basket
X-KDE-ParentComponents=basket,kontact_basketplugin
X-KDE-CfgDlgHierarchy=Basket
X-KDE-Weight=10

Name=Baskets
Name[ca]=Cistelles
Name[ca@valencia]=Cistelles
Name[cs]=Košíky
Name[da]=Kurve
Name[en_GB]=Baskets
Name[es]=Cestas
Name[et]=Korvid
Name[eu]=Saskiak
Name[fi]=Korit
Name[fr]=Paniers
Name[ia]=Panieros
Name[it]=Cesti
Name[ka]=კალათები
Name[ko]=Basket
Name[nl]=Baskets
Name[pl]=Koszyki
Name[pt]=Cestos
Name[pt_BR]=Cestas
Name[ro]=Coșuri
Name[ru]=Корзины
Name[sl]=Košare
Name[sv]=Korgar
Name[tr]=Sepetler
Name[uk]=Кошики
Name[x-test]=xxBasketsxx
Name[zh_TW]=筆記
Comment=Baskets
Comment[ca]=Cistelles
Comment[ca@valencia]=Cistelles
Comment[cs]=Košíky
Comment[da]=Kurve
Comment[en_GB]=Baskets
Comment[es]=Cestas
Comment[et]=Korvid
Comment[eu]=Saskiak
Comment[fi]=Korit
Comment[fr]=Paniers
Comment[ia]=Panieros
Comment[it]=Cesti
Comment[ka]=კალათები
Comment[ko]=Basket
Comment[nl]=Baskets
Comment[pl]=Koszyki
Comment[pt]=Cestos
Comment[pt_BR]=Cestas
Comment[ro]=Coșuri
Comment[sl]=Košare
Comment[sv]=Korgar
Comment[tr]=Sepetler
Comment[uk]=Кошики
Comment[x-test]=xxBasketsxx
Comment[zh_TW]=筆記
