[Desktop Entry]
Encoding=UTF-8
Icon=preferences-desktop-theme
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_basket
X-KDE-FactoryName=basket_config_notes_appearance
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=basket
X-KDE-ParentComponents=basket,kontact_basketplugin
X-KDE-CfgDlgHierarchy=Basket
X-KDE-Weight=10

Name=Notes Appearance
Name[ca]=Aparença de les notes
Name[ca@valencia]=Aparença de les notes
Name[es]=Aspecto de las notas
Name[et]=Märkmete välimus
Name[it]=Aspetto note
Name[ko]=노트 모양
Name[nl]=Uiterlijk van notities
Name[pt]=Aparência das Notas
Name[uk]=Вигляд нотаток
Name[x-test]=xxNotes Appearancexx
Name[zh_TW]=筆記外觀
Comment=Notes Appearance
Comment[ca]=Aparença de les notes
Comment[ca@valencia]=Aparença de les notes
Comment[es]=Aspecto de las notas
Comment[et]=Märkmete välimus
Comment[it]=Aspetto note
Comment[ko]=노트 모양
Comment[nl]=Uiterlijk van notities
Comment[pt]=Aparência das Notas
Comment[uk]=Вигляд нотаток
Comment[x-test]=xxNotes Appearancexx
Comment[zh_TW]=筆記外觀
