[Desktop Entry]
Type=Service
Icon=basket
X-KDE-ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=kontact_basketplugin
X-KDE-KontactPluginVersion=9
X-KDE-KontactPartLibraryName=libbasketpart
X-KDE-KontactPluginHasSummary=false

X-KDE-PluginInfo-Name=kontact_basketplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=BasKet NotePads -- a KDE note organization application
Comment[ca]=Bloc de notes BasKet: una aplicació per organitzar les notes al KDE
Comment[ca@valencia]=Bloc de notes BasKet: una aplicació per organitzar les notes al KDE
Comment[et]=Basketi märkmikud - KDE märkmete korraldamise rakendus
Comment[it]=Blocco appunti BasKet - un'applicazione KDE per l'organizzazione delle note
Comment[nl]=BasKet notitieblaadjes -- een toepassing van KDE voor het organiseren van notities
Comment[pt]=Blocos de Notas do BasKet -- uma aplicação de organização de notas do KDE
Comment[uk]=Нотатники BasKet — програма KDE для упорядковування нотаток
Comment[x-test]=xxBasKet NotePads -- a KDE note organization applicationxx
Name=basket
Name[ca]=cistella
Name[ca@valencia]=cistella
Name[et]=korv
Name[it]=basket
Name[nl]=mandje
Name[pt]=basket
Name[uk]=basket
Name[x-test]=xxbasketxx
