[Desktop Entry]
Encoding=UTF-8
Icon=system-run
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_basket
X-KDE-FactoryName=basket_config_apps
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=basket
X-KDE-ParentComponents=basket,kontact_basketplugin
X-KDE-CfgDlgHierarchy=Basket
X-KDE-Weight=30

Name=Applications
Name[ca]=Aplicacions
Name[ca@valencia]=Aplicacions
Name[cs]=Aplikace
Name[et]=Rakendused
Name[it]=Applicazioni
Name[nl]=Toepassingen
Name[pt]=Aplicações
Name[sk]=Aplikácie
Name[uk]=Програми
Name[x-test]=xxApplicationsxx
Comment=Applications
Comment[ca]=Aplicacions
Comment[ca@valencia]=Aplicacions
Comment[cs]=Aplikace
Comment[et]=Rakendused
Comment[it]=Applicazioni
Comment[nl]=Toepassingen
Comment[pt]=Aplicações
Comment[sk]=Aplikácie
Comment[uk]=Програми
Comment[x-test]=xxApplicationsxx
