[Desktop Entry]
Encoding=UTF-8
Icon=system-run
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_basket
X-KDE-FactoryName=basket_config_apps
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=basket
X-KDE-ParentComponents=basket,kontact_basketplugin
X-KDE-CfgDlgHierarchy=Basket
X-KDE-Weight=30

Name=Applications
Name[nl]=Toepassingen
Name[uk]=Програми
Name[x-test]=xxApplicationsxx
Comment=Applications
Comment[nl]=Toepassingen
Comment[uk]=Програми
Comment[x-test]=xxApplicationsxx
