[Desktop Entry]
Encoding=UTF-8
Icon=basket
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_basket
X-KDE-FactoryName=basket_config_baskets
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=basket
X-KDE-ParentComponents=basket,kontact_basketplugin
X-KDE-CfgDlgHierarchy=Basket
X-KDE-Weight=10

Name=Baskets
Name[nl]=Baskets
Name[uk]=Кошики
Name[x-test]=xxBasketsxx
Comment=Baskets
Comment[nl]=Baskets
Comment[uk]=Кошики
Comment[x-test]=xxBasketsxx
