[Desktop Entry]
Encoding=UTF-8
Name=BasketPart
Name[nl]=BasketPart
Name[uk]=BasketPart
Name[x-test]=xxBasketPartxx
MimeType=application/x-basket;
X-KDE-ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart
X-KDE-Library=basketpart
Type=Service
