[Desktop Entry]
Encoding=UTF-8
Icon=document-new
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_basket
X-KDE-FactoryName=basket_config_new_notes
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=basket
X-KDE-ParentComponents=basket,kontact_basketplugin
X-KDE-CfgDlgHierarchy=Basket
X-KDE-Weight=10

Name=New Notes
Name[ca]=Notes noves
Name[ca@valencia]=Notes noves
Name[et]=Uued märkmed
Name[it]=Nuove note
Name[nl]=Nieuwe notities
Name[pt]=Novas Notas
Name[sk]=Nové poznámky
Name[uk]=Нові нотатки
Name[x-test]=xxNew Notesxx
Comment=New Notes
Comment[ca]=Notes noves
Comment[ca@valencia]=Notes noves
Comment[et]=Uued märkmed
Comment[it]=Nuove note
Comment[nl]=Nieuwe notities
Comment[pt]=Novas Notas
Comment[sk]=Nové poznámky
Comment[uk]=Нові нотатки
Comment[x-test]=xxNew Notesxx
