[Desktop Entry]
Type=Application

Exec=basket %f
MimeType=application/x-basket-archive;application/x-basket-template;application/x-basket-item;
Icon=basket
Categories=Qt;KDE;Office;

X-DBUS-StartupType=Unique

Name=BasKet Note Pads
GenericName=Multi-Purpose Notepad

Comment=Taking care of your ideas.
