[Desktop Entry]
Type=Application

Exec=basket %f
MimeType=application/x-basket-archive;application/x-basket-template;application/x-basket-item;
Icon=org.kde.basket
Categories=Qt;KDE;Office;

X-DBUS-StartupType=Unique

Name=BasKet Note Pads
Name[ca]=Bloc de notes BasKet
Name[ca@valencia]=Bloc de notes BasKet
Name[cs]=Poznámky BasKet
Name[es]=Libretas de BasKet
Name[et]=Basketi märkmikud
Name[fr]=Bloc-note BasKet
Name[ia]=BasKet Note Pads
Name[it]=Blocco appunti BasKet
Name[ko]=BasKet 메모판
Name[nl]=BasKet notitieblaadjes
Name[pt]=Blocos de Notas do BasKet
Name[sl]=Košare zabeležk
Name[sv]=Basket anteckningsblock
Name[uk]=Нотатники BasKet
Name[x-test]=xxBasKet Note Padsxx
Name[zh_TW]=BasKet 筆記本
GenericName=Notes and to-dos organizer
GenericName[ca]=Organitzador de notes i tasques pendents
GenericName[ca@valencia]=Organitzador de notes i tasques pendents
GenericName[cs]=Shromažďování poznámek a úkolů
GenericName[es]=Organizador de notas y tareas pendientes
GenericName[et]=Märkmete ja ülesannete korraldaja
GenericName[fi]=Muistiinpano- ja tehtäväjärjestäjä
GenericName[fr]=Notes et organisateur de tâches à faire
GenericName[ia]=Organisator de Notas e Agenda
GenericName[it]=Gestore di note e cose da fare
GenericName[nl]=Organisator van notities en te-doens
GenericName[pt]=Organizador de notas e tarefas
GenericName[sl]=Zabeležke in organizatorji nalog
GenericName[sv]=Antecknings- och uppgiftsorganisatör
GenericName[uk]=Програма для впорядкування нотаток і завдань
GenericName[x-test]=xxNotes and to-dos organizerxx
GenericName[zh_CN]=便笺和待办事宜组织者

Comment=Taking care of your ideas.
Comment[ca]=Per tenir cura de les vostres idees.
Comment[ca@valencia]=Per tindre cura de les vostres idees.
Comment[cs]=Staráme se o vaše nápady.
Comment[es]=Tenga cuidado con sus ideas.
Comment[et]=Hiilgavate mõtete kirjapanemise koht.
Comment[fi]=Pitää huolta ajatuksistasi.
Comment[fr]=Prise en compte de vos idées.
Comment[ia]=Curar tu ideas
Comment[it]=Ci prendiamo cura delle tue idee
Comment[ko]=아이디어를 관리합니다.
Comment[nl]=Zorgen voor uw ideeën.
Comment[pt]=A tomar conta das suas ideias.
Comment[sl]=Skrb za svoje ideje.
Comment[sv]=Tar hand om dina idéer.
Comment[uk]=Подбає про ваші ідеї.
Comment[x-test]=xxTaking care of your ideas.xx
Comment[zh_CN]=关心您的想法。
Comment[zh_TW]=小心呵護你的想法。
